{% extends 'base.html.twig' %}

{% block body %}

   <section  >

       {% for serie in series  %}
       <article class="series-list" >

           <a href="{{ path('serie_details',{'id': serie.id}) }}" title="view serie's details">
               <img src="{{ asset('img/posters/serie/' ~serie.poster)}}" alt="{{ serie.name }}" >
           </a>
           {% endfor %}
       </article>


   </section>


{% endblock %}



