{% extends 'base1.html.twig' %}

{% block body %}

   <section>
       {% for serie in series  %}
       <article>

           <a href="#" title="view serie's details">
               <img src="" alt="{{ serie.string }}">
           </a>
           {% endfor %}
       </article>

       todo:liste des séries
   </section>


{% endblock %}



