<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" title="home">home</a></li>
        <li><a href="{{ path('main_test') }}" title="test">test</a></li>
        <li><a href="{{ path('serie_list') }}" title="All series">Séries</a></li>
        <li><a href="{{ path('serie_create') }}" title="create new serie">create</a></li>
    </ul>
</nav>